.small {
  width: 20px;
  height: 20px;
  margin-top: -55px;
}
.data {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Space between items */
}

.data h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Add spacing between lines */
}

.data div {
  display: flex;
  flex-direction: row; /* Horizontal layout for rows */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between text and values */
  gap: 10px; /* Space between colons and text */
}

.data div h3:nth-child(2) {
  color: #888888; /* Lighter color for colon */
}

h3:first-of-type {
  margin-bottom: 5px; /* Add space below the title */
}
.contest {
  background-color: #3f3f46; /* Dark background */
  color: #ffffff; /* White text */
  border-radius: 5px; /* Rounded corners */
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 10px 0px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.data div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.data div h3:nth-child(2) {
  color: #888888; /* Light gray color for colon */
}
