@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

/* Responsive upcoming-contests-text */
.upcoming-contests-text {
  color: #0e141b;
  letter-spacing: 0.015em;
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
}

/* Responsive buttons */
.buttons {
  padding: 0 10%;
  width: 100%;
}
button {
  box-sizing: border-box;
  background-color: white;
  padding: 0.7rem 0rem;
  margin: 1rem 1rem;
  border: none;
  font-weight: 700;
  color: rgb(79, 115, 150);
  transition-property: color;
  transition-property: border;
  transition-duration: 1ms;
  transition-timing-function: linear;
  transition-delay: 1ms;
}
.active {
  border-bottom: 3px solid rgb(51 141 230);
  color: rgb(14, 20, 27);
  text-decoration-style: solid;
}
